@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.logo {
    width: 100%;
}
.logo img {
    width: 200px;
    height: 100px;
}
.container {
    width: 90%;
    margin: auto;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}
.centre img {
    width: 100%;
    height: 100%;
}
.left {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 50px;
    margin: 50px 20px;
}
.left h1 {
    font-weight: 600;
}
.left p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
}
.icons {
    width: 100%;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}
.icons i {
    padding: 8px;
    border: white solid 1px;
    border-radius: 50%;
    margin: 5px;
}
i:hover {
    cursor: pointer;
    color: hsl(300, 69%, 71%);
    border: hsl(300, 69%, 71%) 1px solid;
}
button {
    margin-top: 20px;
    border: 1px;
    border-radius: 50px;
    padding: 10px 20px;
    background: white;
    color: hsl(257, 40%, 49%);
    width: 30%;
    box-shadow: 1px 1px 20px gray;
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}
@media screen and (max-width:768px) {
    body {
        width: 100%;
        background-image: url(./images/bg-mobile.svg);
    }
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .centre {
        width: 100%;
        padding: 20px;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .icons {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}